*{margin:0;padding:0;box-sizing:border-box;font-family:'Cairo',sans-serif}
body{background:#f5f7fb;color:#222}
.hero{background:linear-gradient(135deg,#0b3d91,#2b6cb0);padding:60px 20px;text-align:center;color:#fff}
.hero-content{max-width:900px;margin:auto}
.profile-img{width:220px;height:220px;border-radius:50%;object-fit:cover;border:6px solid #fff;box-shadow:0 10px 25px rgba(0,0,0,.25)}
h1{margin:20px 0 10px;font-size:42px}
.subtitle{font-size:22px;font-weight:700}
.btn{display:inline-block;margin-top:25px;padding:14px 35px;background:#fff;color:#0b3d91;text-decoration:none;border-radius:10px;font-weight:bold}
.features{max-width:1100px;margin:40px auto;display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:20px;padding:0 20px}
.card{background:#fff;padding:25px;border-radius:18px;box-shadow:0 8px 20px rgba(0,0,0,.08);text-align:center;font-weight:700}
.booking-container{max-width:800px;margin:50px auto;background:#fff;padding:35px;border-radius:20px;box-shadow:0 10px 30px rgba(0,0,0,.1)}
.booking-container h2{text-align:center;margin-bottom:25px;color:#0b3d91}
form{display:flex;flex-direction:column;gap:18px}
input,select,textarea{padding:15px;font-size:17px;border:1px solid #ccc;border-radius:12px}
textarea{min-height:120px;resize:vertical}
button{background:#0b3d91;color:#fff;border:none;padding:16px;border-radius:12px;font-size:18px;font-weight:bold;cursor:pointer}
footer{margin-top:50px;background:#0b3d91;color:#fff;text-align:center;padding:20px}
@media(max-width:768px){
.profile-img{width:170px;height:170px}
h1{font-size:32px}
.subtitle{font-size:18px}
.booking-container{margin:25px 15px;padding:20px}
.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
display:none;
justify-content:center;
align-items:center;
z-index:9999;
}

.popup-content{
background:#fff;
padding:35px;
border-radius:20px;
text-align:center;
animation:pop .4s ease;
}

.checkmark{
width:90px;
height:90px;
background:#28a745;
color:white;
border-radius:50%;
font-size:55px;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
margin-bottom:20px;
}

@keyframes pop{

0%{
transform:scale(.5);
opacity:0;
}

100%{
transform:scale(1);
opacity:1;
}

}
#countdown{

font-size:70px;

color:#0b3d91;

margin-top:15px;

font-weight:bold;

animation:pulse .8s infinite;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}

}
.top-banner{
    width:100%;
    overflow:hidden;
    background:linear-gradient(90deg,#ff9800,#ff5722);
    color:#fff;
    padding:12px 0;
    font-size:18px;
    font-weight:bold;
}

.banner-track{
    display:flex;
    width:max-content;
    animation:scroll 15s linear infinite;
}

.banner-track span{
    white-space:nowrap;
    padding:0 80px;
}

@keyframes scroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}
