body{
    margin:0;
    font-family:'Cairo',sans-serif;
    background:#f5f7fb;
    color:#222;
    text-align:center;
}

header{
    background:#0d6efd;
    color:white;
    padding:70px 20px;
}

h1{
    margin:0;
    font-size:40px;
}

p{
    font-size:20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 35px;
    background:#ffffff;
    color:#0d6efd;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

section{
    padding:60px 20px;
}
